<section class="section h-screen px-4 md:px-8 lg:py-8">
	<div class="bg-white pb-6 sm:pb-8 ">
		<div class="mx-auto">
	  
		
		  <div class="flex justify-center items-center flex-1 flex-shrink-0 bg-gray-100 overflow-hidden shadow-lg relative py-16 md:py-20 xl:py-48" style="height: calc(100vh - 144px);">
			  <!-- image - start -->
			  <img src="https://images.unsplash.com/photo-1511818966892-d7d671e672a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2071&q=80" loading="lazy" alt="" class="w-full h-full object-cover object-center absolute inset-0" />
			  <!-- image - end -->
		
			  <!-- overlay - start -->
			  <div class="bg-gray-500 mix-blend-multiply absolute inset-0"></div>
			  <!-- overlay - end -->
		
			  <!-- text start -->
			  <div class="sm:max-w-2xl flex flex-col items-center relative p-4" data-editable data-name="cover-content">
				<p class="text-indigo-200 text-lg sm:text-xl text-center mb-4 md:mb-8"><img src="https://chef-studio.kr/dj/logo-white2.png"></p>
				<h1 class="text-white text-4xl leading-8 sm:text-5xl md:text-4xl font-bold text-center mb-8 md:mb-12" style="line-height:1.5"><span id="coverLine1">'둥지'는 고객을 위해</span><br/> 
				  <span id="coverLine2">개개인 맞춤형 부동산 서비스를 제공합니다.</span></h1>
		
			  
			  </div>
			  <!-- text end -->
			</div>
		</div>
	  </div>
		</section>