
	<section class="section h-screen px-4 md:px-8 lg:py-8 relative flex flex-wrap bg-white">
		<div
		  class="flex items-center w-full px-4 py-12 lg:w-3/5 sm:px-6 lg:px-8 sm:py-16 lg:py-24 lg:h-screen lg:items-center" 
		>
		  <div class="max-w-xl mx-auto text-center lg:text-left lg:pr-8" data-editable data-name="intro-content">
			<h2 class="text-xl font-medium text-gray-900 mb-4">중개사 소개</h2>		
			<h2 class="text-5xl font-bold text-gray-900" id="userName" v-model="userName">{{localUser.Name}} <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 inline" fill="none" viewBox="0 0 24 24" stroke="#2caa54">
		  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
		</svg> <span class="text-sm font-medium vertical-middle" style="vertical-align: middle;">DOONGJI CERTIFIED</span></h2>
	  <hr class="pb-4 mt-2">
			<p class="mt-4 text-gray-500 text-lg font-medium">
		  안녕하세요! 저는 1995년부터 서울 지역에 최고의 VIP 부동산 서비스를 제공하고 있는 김태구입니다.
			</p>
			  <p class="mt-4 text-gray-500 text-lg font-medium">
			당신의 모든 부동산 요구를 저에게 맡겨주셨으면 좋겠고, 제가 왜 둥지플랫폼에서 가장 높은 순위에 속하는지 보여드리겠습니다.
		  </p>
	  
	
		  <div class="mt-8 grid grid-cols-2 md:grid-cols-3 bg-gray-800 rounded-lg gap-6 md:gap-8 p-6 md:p-8">
			<!-- stat - start -->
			<div class="flex flex-col items-center">
			  <div class="text-white text-xl sm:text-2xl md:text-3xl font-bold">122</div>
			  <div class="text-gray-200 text-sm sm:text-base">SOLD</div>
			</div>
			<!-- stat - end -->
	  
			<!-- stat - start -->
			<div class="flex flex-col items-center">
			  <div class="text-white text-xl sm:text-2xl md:text-3xl font-bold">54</div>
			  <div class="text-gray-200 text-sm sm:text-base">CLIENTS</div>
			</div>
	  
			<!-- stat - start -->
			<div class="flex flex-col items-center">
			  <div class="text-white text-xl sm:text-2xl md:text-3xl font-bold">96%</div>
			  <div class="text-gray-200 text-sm sm:text-base">SATISFACTION</div>
			</div>
			<!-- stat - end -->
	  
	
			<!-- stat - end -->
		  </div>
		  </div>
		</div>
	  
		<div class="relative w-full h-64 sm:h-96 lg:w-2/5 lg:h-auto lg:py-8" data-editable data-name="intro-photo">
		  <img
			class="absolute inset-0 object-cover w-full h-full py-8"
			src="https://images.pexels.com/photos/1220757/pexels-photo-1220757.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
			alt=""
		  />
		</div>
	  </section>
	  
	  